@import "tailwindcss";

@layer base {
    .btn {
        @apply px-5 py-3 text-center me-2 mb-2 rounded-lg bg-black text-white border inset-shadow-sm inset-shadow-gray-300 flex gap-3 items-center
    }

    .btn-outline {
        @apply px-5 py-2.5 text-center me-2 mb-2 rounded-lg border
    }

    .btn-dashed {
        @apply px-5 py-2.5 text-center me-2 mb-2 rounded-lg border-dashed
    }

    .btn-pill {
        @apply focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full px-5 py-2.5 text-center me-2 mb-2 bg-black text-white bg-black text-white inset-shadow-sm inset-shadow-gray-300
    }

    .btn-group {
        @apply inline-flex items-center
    }

    .btn-group button {
        @apply px-5 py-2.5 text-center bg-black inset-shadow-sm text-white
    }

    .btn-group button:first-child {
        @apply rounded-l-full border-r
    }

    .btn-group button:not(:last-child) {
        @apply border-r
    }

    .btn-group button:last-child {
        @apply rounded-r-full
    }
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.img-preview figure {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    margin-block: 1rem;
}